/build/
/desktop/src-tauri/binaries/
/desktop/src-tauri/resources/engine/*
/desktop/src-tauri/tauri.release.generated.json
/desktop/src-tauri/target/
/desktop/src-tauri/gen/
/desktop/src-tauri/icons/*
!/desktop/src-tauri/icons/icon.ico
/out/
/.vs/
*.db
*.db-shm
*.db-wal
